.profileBodyContainer {
    padding: 75px 25px;
    display: flex;
    flex-direction: row;
}

.profileBodyContainer a,
a:hover {
    text-decoration: none;
    color: black;
}

.profilePicture {
    width: 40%;
    height: auto;
    margin: 10px;
}

.profileContainer {
    width: 25vw;
    min-width: 25vw;
    text-align: center;
    box-sizing: border-box;
}

.content {
    padding: 0px;
    margin: 0px;
    background-color: #EFEFEF;
}

.halfWidth {
    width: 50%;
}

.profileButtonIcon {
    height: auto;
    width: 28px;
    margin: auto;
    padding:2px;
    border:1px solid grey;
    border-radius: 50%
}

#profileLinkHpselected {
    border:2px solid black;
    border-radius: 5px;
}

.profileLinksHPContainer{
    display:none;
    margin:auto;
    margin-bottom:30px;
}

.updateProfileForm{
    width:40%;
}

@media(max-width: 992px) {
    .profileBodyContainer {
        flex-direction: column;
        padding: 25px 25px;
    }

    .profileContainer {
        width: 100%;
    }

    .profilePicture {
        width: 50px;
    }

    .profileLinksHP{
        display:block;
    }

    .profileLinksHPContainer{
        display:flex;
        width:70%;
    }

    .profileLinksPCContainer{
        display:none;   
    }

    .updateProfileForm{
        max-width:100%;
        width:100%;
    }
}

@media(max-width: 600px) {
    .profileContainer {
        font-size: 12px;
    }

    .profileContainer .picon{
        height:16px;
        width:auto;
    }

    .profileLinksHPContainer{
        width:100%;
    }

    .profileLinkHpContainer{
        min-width:70px;
        width:70px;
    }
}