.banner {
    width: 50%;
}

.banner {
    background-size: cover;
    height: 100vh;
    background-repeat: repeat-x;
    background-image: url('/assets/banner1.png');
}

.authFlexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: rgb(33, 37, 41);
}

.form {
    margin: auto;
    padding: 25px;
    width: 100%;
    color: white;
    background-color: rgb(33, 37, 41);
}

.form #logo, .form h6 {
    margin-bottom: 25px;
}

.form #logo {
    width: 100px;
}

.form h6 {
    max-width: 500px;
}

form .col {
    margin-bottom: 25px;
}

.form-control:focus {
    box-shadow: none !important;
}

.textField, .form-control.textField {
    border: 3px solid white;
    padding: 10px;
    border-radius: 3.5px;
}
.textField, .form-control.textField.blackBackround {
    background-color: rgb(33, 37, 41);
    border-color: white;
    color: white;
}
.textField, .form-control.textField.whiteBackground {
    background-color: white;
    border-color: black;
    color: black;
}

.inputWithIconWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px;
}

.inputWithIconWrapper .form-control.textField {
    border: none;
}

.inputWithIconWrapper .picon {
    height: 30px;
    width: auto;
    margin: auto;
    margin-right: 10px;
    cursor: pointer;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
input[type="checkbox"]:checked {
    accent-color: black;
    outline: 1px solid white;
    box-shadow: 0 0 5px white;
}
input[type="checkbox"].blackBackground:checked {
    accent-color: rgb(227, 232, 0);
}
input[type="checkbox"].whiteBackground:checked {
    accent-color: black;
}

.checkBox {
    display: flex;
    align-items: center;
}

.errorMsg {
    margin-top: 10px;
    color: red;
}

.col button {
    font-weight: bold;
    margin-top: 5px;
    background-color: white;
    color: rgb(33, 37, 41);
}
.col button:hover, .col button:active {
    background-color: rgb(227, 232, 0) !important;
    color: rgb(33, 37, 41) !important;
    transition: color 0.5s ease;
}

@media (max-width: 992px) {
    .banner {
        visibility: hidden;
        width: 0;
    }

    .authFlexContainer {
        height: max-content;
    }
}
