.banner {
    width: 50%;
}

.banner {
    background-size: cover;
    height:100vh;
    background-repeat: repeat-x;
    background-image: url('/assets/banner1.png');
}

.authFlexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: rgb(33, 37, 41)"
}

.form {
    padding: 25px;
    width:100%;
    color: white;
    background-color: rgb(33, 37, 41);
}

.form #logo, .form h6 {
    margin-bottom: 25px;
}

.form #logo {
    width: 100px;
}

form .col{
    margin-bottom: 15px;
}

.urlText {
    color: rgb(227, 232, 0);
    font-weight: bold;
}
.urlText:hover {
    background-color: rgb(227, 232, 0);
    color: rgb(33, 37, 41);
}

.errorMsg {
    color: red;
}

.blackInput{
    background-color: rgb(33, 37, 41);
    color: white;
    border-width:2.25px;
    border-color:white;
    border-radius:0px;
    padding:10px;
}

.blackInput:focus{
    background-color: rgb(0, 0, 0);
    box-shadow:0 0 5px white;
    color:white;
}

@media (max-width: 992px) {
    .banner {
        visibility: hidden;
        width: 0;
    }
    .form {
        width: 100%;
    }
}
