.section {
    padding: 40px 60px !important;
}
.preferenceSection {
    color: black;
}
.preferenceSection .sharpBox.yellow {
    margin: 10px 0;
}

.sharpBox.addBtn, .sharpBox.removeBtn {
    justify-content: left;
    width: 100%;
}
.sharpBox.yellow {
    background-color: rgb(227, 232, 0);
}
.sharpBox:disabled, .sharpBox:hover:disabled {
    background-color: gainsboro;
}

.row .col {
    margin: 0;
}

.preferenceSection form {
    margin-top: 25px;
}

.container .preferenceSection .searchField {
    margin-top: 10px;
}
.searchField {
    margin-top: 10px;
    margin-bottom: 30px;
}
.searchField .sharpBox {
    margin: 0;
}

#selected {
    background-color: rgb(227, 232, 0);
}

