.section {
    padding: 40px 60px !important;
}

.preferenceSection {
    color: black;
}

.preferenceForm {
    margin-top: 35px;
}

.row .col {
    margin: 0;
}

.sharpBox.addBtn, .sharpBox.removeBtn {
    justify-content: left;
    width: 100%;
}
.sharpBox.yellow, .sharpBox.removeBtn {
    background-color: rgb(227, 232, 0);
}

.skipBtn {
    margin-left: 15px;
}

.searchField {
    margin-top: 5px;
    margin-bottom: 15px;
}

.addInputBtn {
    margin-top: 0 !important;
}

